* {
 box-sizing: border-box;
}

body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}


.display {
    width: 300px;
    height: 60px;
    margin: 8px 16px;
    border: 1px solid black;
    text-align:end;
    font-size:28px;
}

.btn-container{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
}

.btn-column{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.result-column{
    display: flex;
    flex-direction: column;
    height: 100%
}

.btn-column, .result-column{
    justify-content: center;
    align-items: center;
    width: 100%;   
}

.base-btn{
    width: 50px;
    /* height: 50px; */
    margin: 2px;
    flex: 1 1 0;

}

.operator-btn{
    width: 50px;
    height: 50px;
    margin: 2px;
    flex: 1 1 0;
}

.clear-btn{
    flex: 1 1 0;
    width: 50px;
    margin: 2px;
}

.equal-btn{
    flex: 3 1 0;
    width: 50px;
    margin: 2px;
    background-color: green;
    color: white;
}

/* test fields - delete after use*/

.test-container-labels{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
}
